# Core dependencies
aiogram>=3.0,<3.10
gspread>=6.0,<7.0
gspread-asyncio>=2.0,<3.0
python-dotenv>=1.0,<2.0
aiohttp>=3.9,<4.0

# Architectural dependencies
pydantic>=2.4,<3.0
pymorphy3>=2.0,<3.0

# Testing dependencies
pytest>=7.0,<8.0
pytest-asyncio>=0.21,<0.23